<div id="header">
    <div class="global-header">
        <div class="container">
            <div class="nav-parent">
                {{ page.global_header }}
            </div>
            <!-- <div class="nav-utilities">
          <a href="#">UCLA Logon</a>
        </div> -->
        </div>
    </div>
    <header class="site-header">
        <nav class="navbar navbar-default navbar-toggleable-md">
            <div class="container navbar-container">
                {{ page.branding }}

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    {{ page.navigation }}
                    <div class="utilities">
                        {{ page.utilities }}
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
</div>

<div id="content" class="">
    <section class="main-content container">
        <div class="main-content-wrap ">
            {{ page.breadcrumb }}
            <div class="row sidebar-left">
                <div class="col-xl-9 push-xl-3 col-lg-8 push-lg-4">
                    {{ page.content }}
                </div>
                <div class="col-xl-3 pull-xl-9 col-lg-4 pull-lg-8 sidebar">
                    {{ page.sidebar }}
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </section>
</div>
<!-- /#page-content -->

<div class="footer">
    {{ page.footer }}
</div>
